<div id="<%= dom_id user %>">

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.Age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.Gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= user.designation %>
  </p>

</div>
